/* reset css */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box; 
  }
  
  a {
    text-decoration: none;
    color:#f1f1f1;
  }
  
  .topnav {
    background-color: #77572B;
    font-size: 20px; 
    color:#f1f1f1;
    position: fixed;
    width: 100%;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menubar {
    display: flex;
    margin-right:20px;
    gap: 40px; /* Space between each menu link */
  }

  
  .menubar a {
    transition: 0.5s;
  }
  
  .menubar a:hover {
    color:gray;
  }
  
  .topnav .title {
    font-size: 1.5em;
  }

  
  .intro {
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    background-color: #000000; 
    justify-content: center; 
    align-items: center; 
    margin-top: 100px;
    /* border: 1px solid blue; */
  }
  
  video {
    width: 100%;
    object-fit: cover; 
  }

  
  .content {
    width:80%;
    padding: 20px ;
    color: #f1f1f1; 
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    position:absolute;
  }
  
  
footer{
    padding: 20px;
    color:#f1f1f1;
    background-color: #77572B;
    text-align: center;
}

.fsection{
  display:flex;
  margin: 80px 0;
}

.main{
  margin-top: 100px;
  background-color: #634823;

}

.card{
  border: 5px solid black;
  padding: 20px;
  width: 40vh;
  margin-left: 50px;
  font-family: "Comic Sans MS";
  background-color: #f1f1f1;
}

#foodpics-image{
  width: 100%;
  margin: 5px auto;
}

.ftitle{
  display:flex;
  width:100%;
  background-color: #77572B;
  color: #f1f1f1;
  font-size: 20px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.times{
  color:#f1f1f1;
  background-color: #77572B;
  display: flex;  
  justify-content: space-between;
  padding: 0 20px;
  font-family: monospace;
}

.recipe{
  padding: 20px;
  display: flex;
  width:70%;
  color:#f1f1f1;
}

.ingredients{
  padding: 10px;
}

.instructions{
  padding: 10px;
}

@media screen and (max-width: 800px) {
    .bloc-1 {
    width: 100%;
    }
}   
    

@media screen and (max-width: 1050px) {
  .recipe{
    flex-direction: column;
  }
}   
@media screen and (max-width: 615px) {
  .fsection{
    flex-direction: column;
    align-items: center;
    margin-left: -50px;
  }
}   